<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Heroes</h1> 
    </header>
  
<h2>Babbage</h2>
<img src="/img/babbage.jpg" alt="Babbage">
<p>Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.
</p>
<h2>Berners</h2>
<img src="/img/berners-lee.jpg" alt="Berners">
<p>Timothy "Tim" John Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.
</p>
<h2>Clarke</h2>
<img src="/img/clarke.jpg" alt="Clarke">
<p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundia
</p>
<h2>Hamilton</h2>
<img src="/img/hamilton.jpg" alt="Hamilton">
<p>
</p>
<h2>Hopper</h2>
<img src="/img/hopper.jpg" alt="Hopper">
<h2>Lovelace</h2>
<img src="/img/lovelace.jpg" alt="Lovelace">
<h2>Turing</h2>
<img src="/img/turing.webp" alt="Turing">

</body>



</html>