<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Heroes</h1> 
    </header>
    <h2>Babbage</h2>
    <img src="/img/babbage.jpg" alt="Babbage">
    <p>Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.
    </p> 
<h2>Berners</h2>
<img src="/img/berners-lee.jpg" alt="Berners">
<p>Timothy "Tim" John Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.
</p>
<h2>Clarke</h2>
<img src="/img/clarke.jpg" alt="Clarke">
<p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundia
</p>
<h2>Hamilton</h2>
<img src="/img/hamilton.jpg" alt="Hamilton">
<p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software estadounidense. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.​​​
</p>
<h2>Hopper</h2>
<img src="/img/hopper.jpg" alt="Hopper">
<p>Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación
</p>
<h2>Lovelace</h2>
<img src="/img/lovelace.jpg" alt="Lovelace">
<p>Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica
</p>
<h2>Turing</h2>
<img src="/img/turing.webp" alt="Turing">
<p>Alan Mathison Turing fue un matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico.​​​​​Está considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna
</p>

</body>



</html>